/* AdminDashboard.css */
body, html {
    font-family: Arial, sans-serif;
    width: 100%;
    background-color: #f4f4f4;
    color: #664e4e;
    height: 100%;
}

.admin-dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 99%;
}

.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #4CAF50;
    color: white;
    width: 100%;
}

.admin-header h1 {
    margin: 0;
}

.logout-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
}

.admin-container {
    display: flex;
    flex: 1;
    width: 100%;
}

.admin-sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.admin-sidebar button {
    background-color: #444;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    text-align: left;
}

.admin-sidebar button:hover {
    background-color: #555;
}

.admin-main {
    flex: 1;
    padding: 2rem;
    background-color: white;
    border-left: 1px solid #ddd;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.user-details {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #000; /* Ensure text color is black */
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-details h2 {
    margin-bottom: 1rem;
}

.user-details form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.user-details form div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.user-details form label {
    margin-bottom: 0.5rem;
}

.user-details form input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

.user-details form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    align-self: flex-end;
}

.user-details form button:hover {
    background-color: #45a049;
}

.toggle-theme-button {
    margin-top: auto;
}

.dark-theme {
    background-color: #333;
    color: #f4f4f4;
}

.dark-theme .admin-header {
    background-color: #444;
}

.dark-theme .admin-main {
    background-color: #444;
    border-color: #555;
}

.dark-theme .user-details {
    background-color: #555;
    color: #f4f4f4; /* Ensure text color is white in dark theme */
}

.dark-theme .user-details form input {
    background-color: #666;
    color: #f4f4f4;
}
